[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pendulum = "*"
google-cloud-storage = "*"
apache-airflow = {extras = ["google"], version = "*"}
google-cloud-aiplatform = {extras = ["evaluation"], version = "*"}
tqdm = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.7"
